<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dashboard Layouts with CSS Grid</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site1.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  
    <header class="header"></header>

    <div class="sidebar">
        <div class="logo_details">
            <i class="bx bxl-audible icon"></i>
            <div class="logo_name">BillTracker</div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <ui class="nav-list">
            <li>
                <i class="bx bx-search"></i>
                <input type="text" placeholder="Search...">
                <span class="tooltip">Search</span>
            </li>
            <li>
                <a asp-controller="Selling" asp-action="Index">
                    <i class="bx bx-grid-alt"></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>

            <li>
                <a asp-controller="Selling" asp-action="addItem">
                    <i class='bx bx-store'></i>
                    <span class="link_name">Add Shop</span>
                </a>
                <span class="tooltip">Add Shop</span>
            </li>

            <li>
                <a href="#">
                    <i class='bx bxs-store'></i>
                    <span class="link_name">Manage Shop</span>
                </a>
                <span class="tooltip">Manage Shop</span>
            </li>

            <li>
                <a href="#">
                    <i class='bx bx-user-plus'></i>
                    <span class="link_name">Add Customer</span>
                </a>
                <span class="tooltip">Add Customer</span>
            </li>

            <li>
                <a href="#">
                    <i class='bx bxs-group'></i>
                    <span class="link_name">Manage Customer</span>
                </a>
                <span class="tooltip">Manage Customer</span>
            </li>

            <li>
                <a href="#">
                    <i class='bx bxl-product-hunt'></i>
                    <span class="link_name">Add Item</span>
                </a>
                <span class="tooltip">Add Item</span>
            </li>

            <li>
                <a href="#">
                    <i class="bx bx-pie-chart-alt-2"></i>
                    <span class="link_name">Manage Item</span>
                </a>
                <span class="tooltip">Manage Item</span>
            </li>

            <li>
                <a href="#">
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="link_name">Manage Stock</span>
                </a>
                <span class="tooltip">Manage Stock</span>
            </li>

            <li>
                <a href="#">
                    <i class='bx bx-bar-chart-alt'></i>
                    <span class="link_name">Create Sale Invoice</span>
                </a>
                <span class="tooltip">Create Sale Invoice</span>
            </li>

            <li>
                <a href="#">
                    <i class='bx bx-bar-chart'></i>
                    <span class="link_name">Sale Invoice List</span>
                </a>
                <span class="tooltip">Sale Invoice List</span>
            </li>

            <li>
                <a href="#">
                    <i class='bx bxs-credit-card-alt'></i>
                    <span class="link_name">Payment In</span>
                </a>
                <span class="tooltip">Payment In</span>
            </li>

            <li>
                <a href="#">
                    <i class='bx bxs-credit-card-front'></i>
                    <span class="link_name">Payment In History</span>
                </a>
                <span class="tooltip">Payment In History</span>
            </li>

            <li>
                <a href="#">
                    <i class='bx bxs-report'></i>
                    <span class="link_name">Report</span>
                </a>
                <span class="tooltip">Report</span>
            </li>

            
            <li>
                <a asp-controller="Home" asp-action="Logout">
                    <i class="bx bx-log-out" id="log_out"></i>
                    <span class="link_name">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
            

           @*  <li class="profile">
                <img src="#" alt="profile image">
                <div class="profile_content">
                    <div class="name">Ashu Pal</div>
                    <div class="designation">admin</div>
                </div>
            </li> *@

           @*  <li class="profile">
                <div class="profile_details">
                    <img src="#" alt="profile image">
                    <div class="profile_content">
                        <div class="name">Ashu Pal</div>
                        <div class="designation">Admin</div>
                    </div>
                </div>
                <i class="bx bx-log-out" id="log_out"></i>
            </li> *@
        </ui>
    </div>

    <section class="home-section">
       @*  <div class="text">Dashboard</div> *@
    </section>

   
    <main role="main" class="main">
        @RenderBody()
    </main>
     
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        window.onload = function () {
            const sidebar = document.querySelector(".sidebar");
            const closeBtn = document.querySelector("#btn");
            const searchBtn = document.querySelector(".bx-search");
            const body = document.body;
            

            closeBtn.addEventListener("click",function(){
                sidebar.classList.toggle("open")
                menuBtnChange()
            })

            searchBtn.addEventListener("click", function () {
                sidebar.classList.toggle("open")
                menuBtnChange()
            })

            function menuBtnChange(){
                if(sidebar.classList.contains("open")){
                    body.style.gridTemplateColumns = "250px 1fr";
                    closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
                }else{
                    body.style.gridTemplateColumns = "78px 1fr";
                    closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");
                }
            }
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
