<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BillTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bussiness_Manager.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Loader and Overlay HTML -->
    <div id="loader-overlay">
        <div class="loader-container">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3" style="height:-1px;">
            <div class="container-fluid">
                <p style="color:rgba(255, 255, 255);margin-bottom:0;">WELCOME</p>
            </div>
        </nav>
    </header>
   
     <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
           
        </div>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Add JavaScript for Loader -->
     

    <script>
        document.onreadystatechange = function () {
            if (document.readyState === "loading") {
                showLoader();
            } else if (document.readyState === "complete") {
                hideLoader();
            }
        };

        function showLoader() {
            document.getElementById("loader-overlay").style.display = "flex"; // Show overlay and loader
        }

        function hideLoader() {
            document.getElementById("loader-overlay").style.display = "none"; // Hide overlay and loader
        }

        // Show the loader when any form is submitted
        document.querySelectorAll("form").forEach(function (form) {
            form.addEventListener("submit", function () {
                showLoader();
            });
        });
    </script>

</body>
</html>
