<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BillTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap" rel="stylesheet">
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/mainSite.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bussiness_Manager.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- Loader and Overlay HTML -->
    <div id="loader-overlay">
        <div class="loader-container">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3" style="border-bottom:solid 2px #09b3ef">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Selling" asp-action="Index" style="color:blue;font-size:34px;font-style:italic;font-family:fantasy;">BillTracker</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
           
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Selling" asp-action="Index">
                                <i class="bx bx-grid-alt"></i>
                                <span class="link_name">Dashboard</span>
                            </a>
                            <span class="tooltip">Dashboard</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Selling" asp-action="createUpdateShop">
                                <i class="bx bx-store"></i>
                                <span class="link_name">Add Shop</span>
                            </a>
                            <span class="tooltip">Add Shop</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Selling" asp-action="manageShop">
                                <i class="bx bxs-store"></i>
                                <span class="link_name">Manage Shop</span>
                            </a>
                            <span class="tooltip">Manage Shop</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Selling" asp-action="addCustomer">
                                <i class="bx bx-user-plus"></i>
                                <span class="link_name">Add Customer</span>
                            </a>
                            <span class="tooltip">Add Customer</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Selling" asp-action="manageCustomer">
                                <i class="bx bxs-group"></i>
                                <span class="link_name">Manage Customer</span>
                            </a>
                            <span class="tooltip">Manage Customer</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Selling" asp-action="addItem">
                                <i class="bx bxl-product-hunt"></i>
                                <span class="link_name">Add Item</span>
                            </a>
                            <span class="tooltip">Add Item</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Selling" asp-action="manageItem">
                                <i class="bx bx-pie-chart-alt-2"></i>
                                <span class="link_name">Manage Item</span>
                            </a>
                            <span class="tooltip">Manage Item</span>
                        </li>
                       @*  <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registration">
                                <i class="bx bxs-doughnut-chart"></i>
                                <span class="link_name">Manage Stock</span>
                            </a>
                            <span class="tooltip">Manage Stock</span>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Selling" asp-action="CreateSaleInvoice">
                                <i class="bx bx-bar-chart-alt"></i>
                                <span class="link_name">Create Sale Invoice</span>
                            </a>
                            <span class="tooltip">Create Sale Invoice</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Selling" asp-action="manageSellingInvoice">
                                <i class="bx bx-bar-chart"></i>
                                <span class="link_name">Sale Invoice List</span>
                            </a>
                            <span class="tooltip">Sale Invoice List</span>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registration">
                                <i class="bx bxs-credit-card-alt"></i>
                                <span class="link_name">Payment In</span>
                            </a>
                            <span class="tooltip">Payment In</span>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Selling" asp-action="paymentInHistory">
                                <i class="bx bxs-credit-card-front"></i>
                                <span class="link_name">Payment In History</span>
                            </a>
                            <span class="tooltip">Payment In History</span>
                        </li>
                       @*  <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registration">
                                <i class="bx bxs-report"></i>
                                <span class="link_name">Report</span>
                            </a>
                            <span class="tooltip">Report</span>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">
                                <i class="bx bx-log-out"></i>
                                <span class="link_name">Logout</span>
                            </a>
                            <span class="tooltip">Logout</span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
   
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
           
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Add JavaScript for Loader -->
    @* <script>
        document.onreadystatechange = function () {
            var form = document.getElementById("main.myForm");
            if (document.readyState === "loading") {
                showLoader();
            } else if ((document.readyState === "complete") || (!form.checkVisibility() ) {
                hideLoader();
            }
        };

        function showLoader() {
            document.getElementById("loader-overlay").style.display = "flex"; // Show overlay and loader
        }

        function hideLoader() {
            document.getElementById("loader-overlay").style.display = "none"; // Hide overlay and loader
        }

        // Show the loader when any form is submitted
        document.querySelectorAll("form").forEach(function (form) {
            form.addEventListener("submit", function () {
                showLoader();
            });
        });
    </script> *@
    <script>
        document.onreadystatechange = function () {
            if (document.readyState === "loading") {
                showLoader();
            } else if (document.readyState === "complete") {
                hideLoader();
            }
        };

        function showLoader() {
            document.getElementById("loader-overlay").style.display = "flex"; // Show overlay and loader
        }

        function hideLoader() {
            document.getElementById("loader-overlay").style.display = "none"; // Hide overlay and loader
        }

        // Show the loader when any form is submitted
        document.querySelectorAll("form").forEach(function (form) {
            form.addEventListener("submit", function () {
                showLoader();
            });
        });
    </script>
</body>
</html>
