@model Bussiness_Manager.Models.Customer;
@{
    ViewData["Title"] = "addCustomer";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<div class="heading_with_bread d-flex align-items-center">
    <div class="left_icon">
        <i class="fa fa-cubes bx bx-user-plus" aria-hidden="true"></i>
    </div>
    <div class="right_heading">
        <h3 style="font-weight:bold">
            @if (Model.customerId > 0)
            {
                <text>EDIT CUSTOMER</text>
            }
            else
            {
                <text>ADD CUSTOMER</text>
            }
        </h3>
    </div>
</div>

<form id="myForm" asp-action="addCustomer" method="post">
    <div class="saleForm">
        <div hidden>
            <label for="saleInvoiceNo">Customer Id <text style="color:red">*</text></label>
            <input asp-for="customerId" type="text" />
        </div>
        <div>
            <label for="saleInvoiceNo">Customer Name <text style="color:red">*</text></label>
            <input asp-for="name" type="text" />
        </div>
        <div>
            <label for="saleInvoiceNo">Address <text style="color:red">*</text></label>
            <input asp-for="address" type="text" />
        </div>
        <div>
            <label for="saleInvoiceNo">Mobile Number <text style="color:red">*</text></label>
            <input asp-for="mobileNo" type="text" />
        </div>
        <div style="text-align:right">
            <button type="submit" class="btn btn-primary">
                @if (Model.customerId > 0)
                {
                    <text>Edit</text>
                }
                else
                {
                    <text>Save</text>
                }
            </button>
        </div>
    </div>
</form>





@section Scripts {


    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}