@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@* <div class="card ca1"></div>
<div class="card ca2"></div>
<div class="card ca3"></div>
<div class="card ca4"></div> *@


<div style="width:100%; border:1px solid gray; text-align:center; border-radius:10px; color:white; background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAbMkbdo6Wiis6UhB8di1kXrsGcfApHeH4Uz7gm88JdKF1DwvgI7sbs9E&s')">
    <h1 style="font-size:5rem; font-weight:bold;">Bill Tracker Dashboard</h1>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
<script src="../../../../dist/apexcharts.js"></script>
<script src="assets/data.js"></script>
<script src="assets/scripts.js"></script>

