@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adLayout.cshtml";
}

<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
<div class="card"></div>