@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');


* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}



body {
    min-height: 100vh;
    height: 100vh;
    display: grid;
    grid-template-columns: 78px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
        "side header"
        "side main";
    transition: all 0.5s ease;
}

.header {
    background-color: #00468B;
    grid-area: header;
}

.sidebar {
    min-height: 110vh;
    width: 78px;
    padding: 6px 14px;
    z-index: 99;
    background-color: #00468B;
    transition: all .5s ease;
    /*position: fixed;*/
    top: 0;
    left: 0;
    overflow-y:auto;
}

.sidebar.open{
    width: 250px;
}

.sidebar .logo_details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo_details .icon{
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo_details .logo_name{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    opacity: 0;
    transition: all .5s ease;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name{
    opacity: 1;
}

.sidebar .logo_details #btn {
    position: absolute;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all .5s ease;
}

.sidebar.open .logo_details #btn{
    text-align: right;
}

.sidebar i{
    color: #fff;
    height: 60px;
    line-height: 60px;
    min-width: 50px;
    font-size: 25px;
    text-align:center;
}

.sidebar .nav-list{
    margin-top: 20px;
    height: 100%;
}

.sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip{
    position:absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    padding: 6px 14px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    white-space: nowrap;
    opacity:0;
    pointer-events: none;
}

.sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip{
    display: none;
}

.sidebar input {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    outline: none;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    transition: all .5s ease;
}

.sidebar input::placeholder {
    color: #f1f1f1;
}

.sidebar.open input{
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background-color: #3498db;
    color: #fff;
}

.sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    text-decoration: none;
    background-color:#00468B;
    position: relative;
    transition: all .5s ease;
    z-index: 12;
}


.sidebar li a::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    background-color: #fff;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
    z-index: -2;
}

.sidebar li a:hover::after {
    transform: scaleX(1);
    color: #00468B;
}

.sidebar li a .link_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    pointer-events: auto;
    transition: all 0.4s ease;
    pointer-events: none;
    opacity: 0;
}

.sidebar li a:hover .link_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #00468B;
}

.sidebar.open li a .link_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar li i{
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    border-radius: 5px;
}

.sidebar li.profile{
    position:fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    overflow: hidden;
    transition: all .5s ease;
}

.sidebar.open li.profile{
    width: 250px;
}

.sidebar .profile .profile_details{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .designation{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile .designation{
    font-size: 12px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #3498db;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .profile #log_out{
    width: 50px;
    background: none;
}

.home-section {
    position: relative;
    background-color: #00468B;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all .5s ease;
    z-index: 2;
}

.home-section .text {
    display: inline-block;
    color: #00468B;
    font-size: 25px;
    font-weight:500;
    margin: 18px;
}

.sidebar.open ~ .home-section{
    left:250px;
    width: calc(100% - 250px);
}


.main{
    background-color: #c3c5ca;
    padding: 25px;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 2fr 1fr ;
    /*grid-template-areas:
        "c1 c2 c3"
        "c4 c4 c5"
        "c4 c4 c6";*/
    grid-template-areas:
        "c1 c2"
        "c3 c4";
    gap: 20px;
}



.card {
    background-color: #fff;
    border-radius: 10px;
}

.card:nth-child(1){
    grid-area: c1;
}

.card:nth-child(2) {
    grid-area: c2;
}

.card:nth-child(3) {
    grid-area: c3;
}

.card:nth-child(4) {
    grid-area: c4;
}

/*.card:nth-child(5) {
    grid-area: c5;
}

.card:nth-child(6) {
    grid-area: c6;
}*/



@media (max-width: 1111px){
    .main{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 200px);
        grid-template-areas:initial;
    }
    .card{
        grid-area: initial !important;
    }
}





/* Custom Scrollbar Styling */
.sidebar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height:10px;
}

.sidebar::-webkit-scrollbar-track {
    background: #00468B; /* Background of the scrollbar track */
    border-radius: 10px; /* Roundness of the track */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #2C86C3; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Roundness of the thumb */
    border: 2px solid #00468B; /* Padding around the thumb */
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #56A7DE; /* Color when hovering over the scrollbar thumb */
}



/*Add Item*/


.ca1 {
    background: linear-gradient(rgba(0,0,0,-0.8), rgba(0,0,0,0.2)),url("/images/Stock.PNG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ca2 {
    background: linear-gradient(rgba(0,0,0,-0.8), rgba(0,0,0,0.2)),url("/images/new.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ca3 {
    background: linear-gradient(rgba(0,0,0,-0.8), rgba(0,0,0,0.2)),url("/images/new.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ca4 {
    background: linear-gradient(rgba(0,0,0,-0.8), rgba(0,0,0,0.2)),url("/images/new.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


